<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Debug</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://cmssnp00002020190122104339.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>cmssnp00002020190122104339.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>CMSSNP00002020190122104339</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <InstallAspNetCoreSiteExtension>False</InstallAspNetCoreSiteExtension>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$CMSSNP00002020190122104339</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="CMSDBConnectionString" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:cmssnp00002020190122104339dbserver.database.windows.net,1433;Initial Catalog=CMSSNP00002020190122104339_db1;User ID=anup@cmssnp00002020190122104339dbserver;Password=RememberMe321" Name="Data Source=tcp:cmssnp00002020190122104339dbserver.database.windows.net,1433;Initial Catalog=CMSSNP00002020190122104339_db1;User Id=anup@cmssnp00002020190122104339dbserver;Password=RememberMe321" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=tcp:cmssnp00006120190122040142dbserver.database.windows.net,1433;Initial Catalog=CMSSNP00002020190122104339_db1;Persist Security Info=False;User ID=anup;Password=RememberMe321;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\CMSDBConnectionString_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Server=tcp:cmssnp00006120190122040142dbserver.database.windows.net,1433;Initial Catalog=CMSSNP00002020190122104339_db1;Persist Security Info=False;User ID=anup;Password=RememberMe321;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="CMSDBConnectionString-Web.config Connection String">
      <ParameterValue>data source=tcp:cmssnp00002020190122104339dbserver.database.windows.net,1433;initial catalog=CMSSNP00002020190122104339_db1;user id=anup@cmssnp00002020190122104339dbserver;password=RememberMe321;MultipleActiveResultSets=False</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>